@import "~normalize.css/normalize.css";
@import 'variables.scss';
@import './mixins.scss';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg;
    padding: 50px;
    font-size: 2.5em;

    @include desktop {
        padding: 20px 50px;
    }

    @include tablet {
        padding: 20px 50px;
    }
}


.title {
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 0.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(to right, $primary, $red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include desktop {
        font-size: 40px;
    }

    @include tablet {
        font-size: 35px;
    }

    @include mobile {
        font-size: 30px;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: $secondary;

    width: 70%;
    padding: 20px;
    border-radius: 10px;

    @include desktop {
        width: 60%;
    }

    @include tablet {
        padding: 30px 20px;
        margin-top: 20px;
    }

    @include mobile {
        width: 90%
    }

    &-inactive {
        display: none;
    }

    // &-dark {
    //     background-color: $secondaryDark;
    // }
}

.results {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: $secondary;
    width: 70%;
    padding: 60px 20px;
    border-radius: 10px;

    @include desktop {
        width: 60%;
    }

    @include tablet {
        padding: 30px 20px;
        margin-top: 20px;
    }

    @include mobile {
        width: 66%;
    }

    &-inactive {
        display: none;
    }

    &-title {
        font-size: 35px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    &-list {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    &-close-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        & .icon {
            width: 20px;
            height: 20px;
            margin-bottom: 3px;
        }
    }
}

.results-button {
    background-color: $secondary;
    border: 2px solid $secondaryDark;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .3s linear;

    &:hover {
        background-color: lighten($secondary, 4%);
        transition: background-color .3s linear;
    }

    @include tablet {
        font-size: 16px;
    }
}

.container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
    margin-top: 30px;

    &-blocked {
        pointer-events: none;
    }

    &-medium {
        width: 1200px;
        height: 1200px;
        grid-template-columns: repeat(15, 1fr);
    }

    &-hard {

        width: 1500px;
        height: 1500px;
        grid-template-columns: repeat(25, 1fr);
    }

    @include tablet {
        width: 350px;
        height: 350px;
        margin-top: 20px;
    }

    @include mobile {
        width: 270px;
        height: 270px;
    }
}

.info {
    position: relative;
    width: 88%;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-inactive {
            display: none;
        }
    }
}

.change-level-wrapper {
    display: none;
    justify-content: center;
    padding: 30px;

    &-active {
        display: flex;
    }
}

.level-button {
    display: flex;
    background-color: $secondary;
    border: 2px solid $secondaryDark;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 3px 40px;

    transition: background-color .3s linear;

    &:hover {
        background-color: lighten($secondary, 4%);
        transition: background-color .3s linear;
    }

    &:not(:first-child) {
        margin-left: 20px;
    }
}

.close-button,
.results-close-button {

    position: absolute;
    right: 11px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $secondary;
    border: 2px solid $secondaryDark;
    cursor: pointer;
    transition: background-color .3s linear;

    &:hover {
        background-color: lighten($secondary, 4%);
        transition: background-color .3s linear;
    }

    & .icon {
        width: 20px;
        height: 20px;
        margin-bottom: 3px;
    }
}

.time {
    display: flex;
    align-items: center;
}

.move {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;

    @include mobile {
        width: 100px;
    }
}

.button {
    display: flex;
    background-color: $secondary;
    border: 2px solid $secondaryDark;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color .3s linear;

    &:hover {
        background-color: lighten($secondary, 4%);
        transition: background-color .3s linear;
    }

    // @include mobile {
    //     &:nth-child(2) {
    //         margin-left: 10px;
    //     }
    // }

    &:nth-child(2) {
        margin-left: 10px;
    }
}

.sound,
.theme {
    display: flex;
    background-color: $secondary;
    border: 2px solid $secondaryDark;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color .3s linear;
    margin-left: 10px;

    &:hover {
        background-color: lighten($secondary, 4%);
        transition: background-color .3s linear;
    }
}


.choose-level {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $black;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
    border: 2px solid $secondaryDark;
    border-radius: 6px;
    background-color: $secondary;
    cursor: pointer;
    transition: background-color .3s linear;

    &:hover {
        background-color: lighten($secondary, 4%);
        transition: background-color .3s linear;
    }

    @include tablet {
        font-size: 16px;
        margin-top: 20px;
        padding: 6px 26px;
    }

    @include mobile {
        margin-top: 10px;
        padding: 10px 5px;
    }
}

.icon {
    width: 30px;
    height: 30px;
    fill: $secondaryRed;

    @include tablet {
        width: 20px;
        height: 20px;
    }

    @include mobile {
        width: 16px;
        height: 16px;
    }
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: $black;
    margin-top: 15px;
    margin-left: 20px;

    @include tablet {
        font-size: 16px;
    }

    @include mobile {
        margin-top: 7px;
        margin-left: 10px;
    }
}

.bombs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: $black;
    margin-top: 30px;

    @include tablet {
        font-size: 16px;
    }
}

.gameover-message {
    display: none;
}

.gameover-message-active {
    display: block;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: $primary;
    animation: blink 1s ease-in-out infinite;
    text-align: center;
    margin-top: 10px;


    @include mobile {
        font-size: 18px;
    }
}

.gameover-message-active::before,
.gameover-message-active::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondaryDark;

    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 2px 2px 10px $secondaryMedium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;

    @include tablet {
        font-size: 14px;
    }

    @include mobile {
        font-size: 12px;
    }

    &-dark {
        border: 1px solid $secondary;
        background-color: $secondaryRed;
    }


    &:active {
        box-shadow: 2px 2px $secondaryDark;
        transform: translateY(4px);
    }

    &:hover {
        background-color: darken($secondary, 10%);
    }

    & .icon {
        width: 25px;
        height: 25px;
        fill: $primaryBright;
        stroke: $red;

        @include tablet {
            width: 20px;
            height: 20px;
        }

        @include mobile {
            width: 14px;
            height: 14px;
        }

        &-dark {
            fill: $secondary;
            stroke: $secondary;
        }
    }

    &-lose {
        background-color: $primary;
        border: none;
        transition: background-color .5s linear, border .5s linear;
    }

    &-open {

        background-color: $bg;

        &-dark {
            background-color: $primary;
        }

        &-one {
            // background-color: $bg;
            color: $black;

            // &-dark {
            //     background-color: $primary;
            // }
        }

        &-two {
            // background-color: $bg;
            color: $primaryBright;
        }

        &-three {
            // background-color: $bg;
            color: $secondaryDark;
        }
    }
}

.footer {
    margin-top: 20px;

    @include tablet {
        margin-top: 10px;
    }
}