$bg: #eae7dc;
$primary: #e98074;
$primaryBright: #e85a4f;
$secondary: #dcd5ca;
$secondaryMedium: #b39e87;
$secondaryDark: #8e8d8a;
$red: #a81212;
$secondaryRed: #a64848;
$black: #0f0505;

$desktop: 1500px;
$tablet: 1200px;
$mobile: 800px;